<div class="container">
  <div class="row">
    <div class="col l3 m6 s12 right" style="color:white; margin-top:200px">
      <h1 style="font-family: 'Arizonia', cursive;">Vogue</h1>
      <p>Vogue is a social connecting platfom with your career in view</p>

      <div id="user-widget">
        <% if current_user %>
          Welcome <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
